{% extends 'web/layout.html' %}
{% load static %}
{% load permission %}
{% load color %}


{% block content %}

    <div style="margin-bottom: 10px" class="d-flex">
        {% include 'include/search_group.html' %}
        <div style="margin-left: auto;margin-top:30px;float: right">
            <form class="row g-3" method="get">
                <div class="col-auto">
                    <input name="keyword" type="text" class="form-control" placeholder="关键字查找" value="{{ keyword }}">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-light border"><i class="bi bi-search"></i></button>
                </div>
            </form>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>类型</th>
            <th>金额</th>
            <th>客户</th>
            <th>订单号</th>
            <th>时间</th>
            <th>其他</th>
        </tr>
        </thead>
        <tbody>
        {% for row in pager.queryset %}
            <tr>
                <td>{{ row.id }}</td>
                <td>
                    <strong class="text-{{ row.charge_type|color }}">{{ row.get_charge_type_display }}</strong>
                </td>
                <td>
                    {{ row.amount }}
                </td>
                <td>
                    {{ row.customer.username }}
                </td>
                <td>
                    {% if row.order_oid %}
                        {{ row.order_oid }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>{{ row.create_datetime|date:"Y-m-d H:i:s" }}</td>
                <td>
                    {% if row.memo %}
                        {{ row.memo }}
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <ul class="pagination">
        {{ pager.html }}
    </ul>


{% endblock %}
