<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="alert alert-danger" role="alert" style="margin: 0">
                <h4 class="alert-heading">是否确认删除？</h4>
                <p>您成功阅读了这条重要的警告信息。此示例文本将运行得更长一些，以便您了解警告中的间距如何与此类内容配合使用。</p>
                <hr>
                <div>
                    <button type="button" class="btn btn-light" id="btnCancelDelete">取 消</button>
                    <button type="button" class="btn btn-danger" id="btnConfirmDelete">确 定</button>
                </div>
            </div>
        </div>
    </div>
</div>

